<nav class=" d-none d-lg-flex d-xxl-none justify-content-around align-items-center  p-3">
  <!-- logo -->
  <ul class="nav custom-fonts">
    <li class="nav-item">
      <a class="nav-link active"  routerLink="/home" >FILM GO</a>
    </li>
  </ul>

  <!-- tabs  -->
  <ul class="nav justify-content-between align-items-center custom-font">
    <li class="nav-item">
      <a class="nav-link active" routerLinkActive="active-back2" routerLink="/home" >HOME</a>
    </li>
    <li>/</li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active-back2" routerLink="/trindingmovie">Trinding Movies</a>
    </li>
    <li>/</li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active-back2" routerLink="/trindingtvshow" >Trinding TV-SHOW</a>
    </li>

  </ul>

  <!-- search and sociacl -->
  <ul class="nav justify-content-between align-items-center custom-font">

    <!-- search -->

    <li class="d-flex align-items-center">


      <form  id="search-input">
        <input class="form-control  form-control-sm" type="text" name="serach">
      </form>
      <i id="search-control" class="fa fa-search p-2"></i>

      <span class="mx-3">|</span>

    </li>

    <!-- sociacl -->
    <li>


      <ul class="nav">
        <li class="nav-item">
          <i class="fa-brands fa-instagram nav-link"></i>
        </li>
        <li class="nav-item">
          <i class="fa-brands fa-twitch nav-link"></i>
        </li>
        <li class="nav-item">
          <i class="fa-brands fa-twitter nav-link"></i>
        </li>
                <li class="nav-item">
          <i class="fa-brands fa-youtube nav-link"></i>
        </li>
      </ul>


    </li>

  </ul>

</nav>


<!-- ///////////////////////
nav bar section for responsive
/////////////////////// -->

<nav class="d-flex d-lg-none flex-column align-items-center   ">

    <!-- logo -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home" >FILM GO</a>
      </li>
    </ul>

    <!-- tabs  -->
    <ul class="nav justify-content-between align-items-center custom-font">
      <li class="nav-item">
        <a class="nav-link active"routerLinkActive="active-back2" routerLink="/home" >HOME</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-back2" routerLink="/trindingmovie">Trinding Movies</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-back2" routerLink="/trindingtvshow" >Trinding TV-SHOW</a>
      </li>
    </ul>

    <!-- search and sociacl -->
    <ul class="nav justify-content-between align-items-center custom-font">

      <!-- search -->

      <li class="d-flex align-items-center ">


        <form action="">
          <input class="form-control form-control-sm" type="text" name="serach">
        </form>
        <i id="search-control" class="fa fa-search p-2"></i>

        <span>|</span>

      </li>

      <!-- sociacl -->
      <li>


        <ul class="nav">
          <li class="nav-item">
            <i class="fa-brands fa-instagram nav-link"></i>
          </li>
          <li class="nav-item">
            <i class="fa-brands fa-twitch nav-link"></i>
          </li>
          <li class="nav-item">
            <i class="fa-brands fa-twitter nav-link"></i>
          </li>
                  <li class="nav-item">
            <i class="fa-brands fa-youtube nav-link"></i>
          </li>
        </ul>


      </li>

    </ul>

</nav>
